/* Reset some defaults browser styles 
*/

/* Siin on :root pseudoklassis defineeritud heleda teema värvid ja [data-theme="dark"] valikus tumeda teema värvid. CSS Custom Properties 
(nt --primary-text-color) kasutamine võimaldab teil neid värve JavaScripti abil dünaamiliselt muuta.
*/
/* panin vaikimisi tumeda režiimi, sest kui vaikimisi oli hele ja siis muutsin lehe tumedaks, siis tekkis tumedas reziimis ebemeeldiv olukord, kus
leht tuli korraks läbi heleda režiimi.. see häiris.. kui on vaikimisi tume ning siis minna heledasse režiimi, siis see nii ei häiri, 
lisaks tegin body-sse ja ka js-i lisad, et leht laeks sujuvalt 1 sek jooksul - nii ei häiri peaaegu üldse see režiimi vahetuses käimine */


/* === General Styles === */
:root {
    --text-shadow-color: #000000;
    --primary-text-color: #c6c2c2;
    --info-text-color: #d3d3d3;
    --filterbutton-text-color: #333;
    --background-color: #777;
    --button-background-color: linear-gradient(#6f6f6f, #6f6f6f, #555);
    --filterbutton-background-color: #919191;
    --selectedbutton-frame-color: #ffffff; 

    --main-background-color: #6f6f6f;
    --textarea-background-color: #333; 
    --header-background: linear-gradient(#333, #555, #777);
    --footer-background: linear-gradient(#777, #555, #333);
}

[data-theme="light"] {
    --text-shadow-color: #575757;
    --primary-text-color: #333;
    --info-text-color: #6c6c6c;
    --filterbutton-text-color: #c6c2c2;
    --background-color: #ffffff;
    --button-background-color: linear-gradient(#b8b8b8, #f0f0f0, #f0f0f0);
    --filterbutton-background-color: #666;
    --selectedbutton-frame-color: #000000; 


    --main-background-color: #f0f0f0;
    --textarea-background-color: #ffffff;
    --header-background: linear-gradient(#b8b8b8, #cfcfcf, #ffffff);
    --footer-background: linear-gradient(#ffffff, #cfcfcf, #b8b8b8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    transition: all 0.3s ease;
}

body {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-width: 280px;
    /* min-width: 975px; */
}

body.loaded {
    opacity: 1;
}

header, footer, nav {
    width: 100%;
}

header {
    background-image: var(--header-background);
    color: var(--primary-text-color);
    text-align: center;
    padding: 2rem;
    font-weight: bold;
}

main {
    overflow-y: auto;
    margin: 20px; 
    margin-top: 1px;
    padding: 20px;
    background-color: var(--main-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    /* /////////////////////// */
    /* min-height: 500px; */
    max-height: max-content;
    /* min-height: calc(155vh - 160px);  */
    height: flex;
}

footer {
    background-image: var(--footer-background);
    color: var(--primary-text-color);
    text-align: center;
    line-height: 1.5;
    padding: 2rem 0;
    position: absolute;
    width: 100%;
}


/* === Header Styles & Headers Buttons === */
.themeToggleButtons {
    display: flex;
    justify-content: center ; 
    width: 100%;
    gap: clamp(25px, 20vw, 350px); /* vahe minimaalselt 50px, kohandub ekraani laiusega, maksimaalselt 350px */
}

.oval {
    width: 150px;
    height: 75px;
    background-image: var(--button-background-color);
    color: var(--primary-text-color);
    font-weight: 700;
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    text-align: center;
    line-height: 20px;
    border-radius: 50%; 
}

.oval:hover {
    opacity: 0.7;
}

.logo {
    height: 50px;
    margin-top: 25px;
}

.logo-container {
    position: relative;
    display: inline-block;
}

.popup {
    display: none;
    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.logo-container:hover .popup {
    display: block;
}

#headersText {
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    font-size: 3em;
    font-weight: 800;
}

#home {
    width: 150px; 
    height: 75px; 
    background-image: var(--button-background-color);
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 0.9em;
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    padding: 25px 20px; 
    cursor: pointer;
}

/* #themeToggle {
    Tuleviku jaoks koht olemas
} */


/* === Main Styles & Main Buttons === */
/* ===== Filter Section & Buttons ===== */
nav {
    color: var(--primary-text-color);
    text-align: center;
    font-weight: bold;

    display: flex;
    align-items:flex-start ;
    min-width: 100%;
    max-width: max-content;
    padding: 10px;
    background-color: var(--main-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    height: flex;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.flex-item {
    max-width: 360px; 
    box-sizing: border-box;
}

.oval-clear {
    /* margin-top: 5px; */
    margin-bottom: 5px;

    width: 130px;
    height: 55px;
    background-image: var(--button-background-color);
    font-size: 0.7em;
    color: var(--primary-text-color);
    font-weight: 700;
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    text-align: center;
    line-height: 20px;
    border-radius: 50%; 
}

.manufacturer-button, .category-button {
    font-size: 0.6em;
    padding: 10px; 
    width: 110px;
    height: 40px;
    background-image: var(--button-background-color);
    color: var(--primary-text-color);
    font-weight: 700;
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;

    padding: 10px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#all-manufacturers-button, #all-categories-button {
    font-size: 0.6em;
    padding: 10px; 
    width: 110px;
    height: 40px;
    color: var(--filterbutton-text-color);
    font-weight: 700;
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;

    padding: 10px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--filterbutton-background-color);
}

#filterBy {
    flex: 0 0 150px;
    width: 130px;
    background-image: var(--button-background-color);
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 0.7em;
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    text-align: center;
    line-height: 10px; 
    margin-bottom: 5px;
    padding: 25px; 
}

#manufacturers {
    /* flex: 0 0 340px; */
    flex: auto;
    /* flex: 0 0 45%; */
}

#categories {
    /* flex: 0 0 340px;  */
    /* flex: 0 0 45%; */
    flex: auto;
}

/* #clearSelection {
    Tuleviku jaoks koht olemas
} */

/* Readjusting, if page is smaller than 1100px */
@media (max-width: 1100px) {
    #headersText {
        font-size: 2em;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .flex-item {
        max-width: 100%;
    }

    #manufacturers, #categories {
        margin-bottom: 10px;
    }

    #filterBy, #clearSelection {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}


/* ===== Sort and Result Area & Buttons ===== */
.main-content {
    display: flex;
}

.sidebar {
    width: 20%;
    min-width: 150px;
    height: flex;
    color: var(--primary-text-color);
    text-align: center;
    padding: 0.6rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    background-color: var(--main-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.sort-button {
    font-size: 0.6em;
    padding: 10px; 
    width: 130px;
    height: 40px;
    background-image: var(--button-background-color);
    color: var(--primary-text-color);
    font-weight: 700;
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;
}

.contentArea {
    width: 79%;
    min-height: 500px;
    max-height: max-content;
    color: var(--primary-text-color);
    text-align: left;
    padding: 2rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px auto;
    background-color: var(--main-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#sortBy {
    background-image: var(--button-background-color);
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 0.7em;
    text-shadow: 1px 2px 7px var(--text-shadow-color);
    text-align: center;
    line-height: 10px;
    margin-bottom: 25px;
    padding: 25px; 
}

#information {
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 14px;
    color: var(--info-text-color);
    padding: 15px;
}

/* Readjusting, if page is smaller than 550px */
@media (max-width: 550px) {
    .flex-container, .flex-item, #filterBy {
        width: 100%;
        padding: 0; 
        margin: 0 auto;
    }

    #filterBy {
        padding: 25px 0;
        margin-bottom: 10px;
    }

    .main-content {
        flex-direction: column; 
    }

    .sidebar, .contentArea {
        width: 100%; 
        margin: 10px 0; 
    }

    .sidebar {
        align-items: center; 
    }  

    #sortBy {
        margin-bottom: 10px;
    }

    .manufacturer-button, .category-button {
        width: 130px;
    } 
}


/* === Footer Styles & Footer Buttons === */
#footer-icons{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 8px;
}

#socialLogos:hover {
    opacity: 0.4;
}


/* === Button Styles === */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

/* when button is selected */
.selected {
    border: 2px solid var(--selectedbutton-frame-color);
        /* with this line 1px frame will be greated around button */
}
